@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color:#000000;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#6CABFF;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 125%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 71px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 32px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #6CABFF;
}

/* hero image */

 #hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
 }

#hero-image1 {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image1.jpg') no-repeat center center;
}
